.container {
    display:inline-block;
    padding: 20px;
    margin: 20px;
    border: solid black 2px;
    width: 200px;
    min-height: 120px;

}

table{
    border-collapse: collapse;
}

tr{

    background-color: lightskyblue;
}
th,td{
    width: 150px;
    margin: 20px;
    text-align: center;
    border: 1px solid black;
    padding: 5px;
}
